/* RESET CSS*/
html{
    font-size: 62.5%;
}
body{
    font: 1.6rem 'Open sans', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, p, figure, ul,th,td,caption{
    margin: 0;
    padding: 0;
    font-weight: 400;
    list-style: none;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    outline: none;
}
/* THEME CSS */
:root{
    --color-default: #000;
    --color-primary: #7A293C;
    --color-secondary:#f1bfbf;
}
header h1{
    line-height: 6rem;
    text-align: center;
    margin-bottom: 6rem;
    background-color: var(--color-secondary);
    color: #222;
    font-weight: 100;
}

nav ul li{
    text-align: center;
}
section{
    max-width: 80rem ;
    margin: 0 auto 2rem  ;
    border: .1rem #ccc solid;
    padding: 1rem ;
    background-color: #f1bfbf;
    text-align: justify;
}
section h2{
    text-align: justify;
    background-color: #fafafa;
    margin: 0 auto 2rem;
    padding: 1rem;
    max-width: 80rem;
    border-radius: 15px 15px 15px 15px;
}
section h2 p{

    margin: 1rem;
}
footer{
        text-align: justify;
        max-width: 80rem ;
        margin: 0 auto 2rem  ;
        border: .1rem #ccc solid;
        padding: 1rem ;
        background-color: #f1bfbf;    
}
footer h3{
    text-align: justify;
    background-color: #fafafa;
    margin: 0 auto 2rem;
    padding: 1rem;
    max-width: 80rem;
    border-radius: 15px 15px 15px 15px;
}
